{% extends "base.html" %}
{% block title %}Resume Upload{% endblock %}

{% block content %}
<h4>Resume Upload</h4>
<ol class="list-group list-group-flush">
    {% for resume in user.resumes %}
    <li class="list-group-item">
        <div>
            <span><label><b>Resume: </b></label> {{resume.resume_name}}</span>
            <span><a href="{{ url_for('views.resume_download',upload_id=resume.id)}}">Download</a></span>
        </div>
        <button type="button" class="close" onClick="deleteResume({{ resume.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
        <div><label><i>Last Updated: </i></label> {{resume.update}}</div>
    </li>
    {% endfor %}
</ol>
<br/>

<form method="POST" enctype="multipart/form-data">
    <div class="for-group">
        <label for="resume_name">Upload Resume</label>
        <input
            class="form-control"
            type="file"
            id="file1"
            name="file1"
        />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}