{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Home page. Upload resume, enter essential employee information, submit to database. -->
<center>
    <p style="font-size: 110%; font-family: Verdana, Geneva, Tahoma, sans-serif;">Your resume is your very first impression to your future employers. Before any interviews, assessments, or reference checks, a great resume is needed. </p>
    <p style="font-size: 110%; font-family: Verdana, Geneva, Tahoma, sans-serif;">Our team at Jaynami Productions will provide professional expertise and advice in order to masterfully craft the best first impression to your future employers.</p>
    <p style="font-size: 110%; font-family: Verdana, Geneva, Tahoma, sans-serif;">We stay up to date with the latest industry trends and hiring practices to effectively tailor your resume for the field you wish to work in, which will increase your chances of getting hired.</p>
    <p style="font-size: 110%; font-family: Verdana, Geneva, Tahoma, sans-serif;">Submit your resume and let us know where you want work, and we will guide you along your journey!</p>
    <a href="/resume-upload">Upload Resume</a>
</center>
<br/>
<center>
    <div>
        <img src="static/lol.png" alt="logo" width="100%"/>
    </div>
</center>
<br/>
<br/>
<center>
    <p style="font-size: 110%;"><i>"Alone we can do so little; together we can do so much."</i></p>
    <p style="font-size: 110%;">- Helen Keller</p>
</center>

{% endblock %}